a {
  text-decoration: none;
  color: inherit; /* Thừa hưởng màu chữ từ parent */
}
/* main */
main {
  padding: 20px 40px; 
}
/*chu noi*/
.overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 72px;
      font-family: 'Dancing Script', cursive;
      font-weight: bold;
      text-align: center;
      text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
      pointer-events: none;
    }
.intro {
  background-color: #f8f8f8; /* Màu nền cho phần giới thiệu */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top:20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.intro h2 {
  color: #076bb8;
  margin-bottom: 15px;
}

.intro p {
  line-height: 1.6;
  color: #555;
}
/* dac biet*/
.slider-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  position: relative;
  min-width: 50%;
  box-sizing: border-box;
  padding: 0 5px;
}

.slide img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.btn-detail {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color:black;
  display: none;
}

.slide:hover .btn-detail {
  display: inline-block;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 8px;
}

.prev { left: 10px;}
.next { right: 10px; }
/*danh cho bạn*/
/*.event section h2 {
  color: #076bb8;
  margin-bottom: 20px;
  text-align: left;  Căn trái tiêu đề section 
}*/
.event-list {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


/*boloc*/
#cityFilter {
    display: flex;
    justify-content: flex-end;
}

#cityFilter select {
  padding: 8px 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;/*thay đổi hình dạng trỏ chuột*/
}

#categoryFilter{
  display: flex;
  justify-content: flex-end;
}

#categorySelect{
  padding: 8px 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;/*thay đổi hình dạng trỏ chuột*/
}

/*phan trang*/
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /*text-align: center;
  margin-top: 20px;*/
}

.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pagination li > button {
  background-color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
  border: none;
  min-width: 40px;
  text-align: center;
}

.pagination li > button:hover {
  background-color: #ccc;
}

.pagination li > button.active {
  background-color: #007BFF;
  color: #fff;
}

.pagination li > button:disabled {
  pointer-events: none;
  opacity: 0.9;
}
@media (max-width: 576px) {
main{
padding:20px;
}
.featured-events .event-list{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

  #recommended-events .event-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 thẻ trên dòng */
  }
  .event-card {
    width: 100%;
    margin-bottom: 10px;
  box-sizing: border-box;
  }

  .event-details h3 {
    font-size: 16px;
    line-height: 1.3em;
    max-height: 2.6em; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
  }

  .event-price, .event-date {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
  }

}