/* Video */
.video-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

#video {
  position: absolute;
  top: 30%;
  left: 0; 
  width: 100%;
  padding: 0 16px;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
  color: white;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;         
  justify-content: center; 
  gap: 20px;
  box-sizing: border-box;
  word-break: break-word;
  white-space: normal;
}


.word {
  opacity: 0;
  transform: translateY(-100px);
  animation: dropIn 0.8s ease-out forwards;
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Liệt kê thành phố */
    .urban {
      padding: 0 20px;
      margin: 0 auto;
      max-width: 100%;
      box-sizing: border-box;
      text-align: center;
    }


    .urban h1 {
      color: #aa8800;
      font-size: 35px;
      margin-top: 20px;
    }

    .urban p {
      font-size: 18px;
      max-width: 1000px;
      margin: 0 auto 30px;
      line-height: 1.5;
    }

    .city {
      display: flex;
      flex-direction: column; /* cho 2 div xếp trên dưới */
      gap: 20px; /* khoảng cách 20px giữa 2 div */
    }

    .city-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      padding: 0;
    }

    .city-card {
      position: relative;
      width: 300px;
      height: 400px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
      overflow: hidden;
    }

    .city-card:hover {
      transform: translateY(-10px); 
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Bóng đậm hơn khi hover */
      cursor: pointer;
    }

    .city-card video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .city-name {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: white;
      font-size: 32px;
      font-family: 'Brush Script MT', cursive;
      text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    }

    .d-none {
    display: none;
    }


@media (max-width: 768px) {
  #video {
    font-size: 2.2rem;
    top:40%;
    gap: 10px;
  }
  
  .city-container {
    flex-direction: column;
    align-items: center;
  }

  .city-card {
    width: 80vw;
    height: 50vw; 
  }

}